body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  font-size: 10px;
  height: 100%;
}
a {
  color: #555;
}
.clearfix {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body {
  background: url("/img/bg.jpg") no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.main {
  height: 100%;
  padding-top: 68px;
  margin: 0 auto;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
/*
设备适配
 */
@media (min-width: 769px) {
  .main {
    width: 910px;
  }
  .header {
    position: fixed;
  }
  .container {
    width: 700px;
    float: right;
  }
  .container-box {
    width: 86%;
  }
  .footer {
    width: 910px;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .container-box {
    width: 75%;
  }
  .footer {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.widget h1 {
  font-size: 2em;
}
.widget h2 {
  font-size: 1.5em;
}
.widget h3 {
  font-size: 1.3em;
}
.widget h4 {
  font-size: 1.2em;
}
.widget h5 {
  font-size: 1em;
}
.widget h6 {
  font-size: 1em;
  color: #999;
}
.widget hr {
  border: 1px dashed #ddd;
}
.widget strong {
  font-weight: bold;
}
.widget em,
.widget cite {
  font-style: italic;
}
.widget sup,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.widget sup {
  top: -0.5em;
}
.widget sub {
  bottom: -0.2em;
}
.widget small {
  font-size: 0.85em;
}
.widget acronym,
.widget abbr {
  border-bottom: 1px dotted;
}
.widget ul,
.widget ol,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.widget ul {
  list-style: disc;
}
.widget ol {
  list-style: decimal;
}
.widget dt {
  font-weight: bold;
}
.header {
  width: 170px;
  height: 300px;
  margin: 0 auto;
}
.myphoto {
  text-align: center;
}
.myphoto img {
  width: 130px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px #fff;
  box-shadow: 0 0 0 6px #fff;
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -ms-transition: -ms-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
}
.mysitename {
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding-top: 15px;
}
.navbar {
  color: #fff;
  padding: 15px 0 15px;
  text-align: center;
}
.navbar a {
  color: #fff;
  font-size: 1.4rem;
}
.searchbox {
  width: 100%;
  border-radius: 25px;
  height: 28px;
  border: 1px solid #000;
  position: relative;
}
.searchbox input {
  border: 0px;
  background: none;
  width: 120px;
  height: 28px;
  padding: 0px 10px 0 10px;
  color: #fff;
  float: right;
}
.searchbox input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.search-btn {
  border: 0px;
  background: none;
  width: 30px;
  position: absolute;
  left: 0;
  top: 5px;
}
.search-btn:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.container {
  height: auto;
  padding-bottom: 20px;
}
.container .content {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 70px;
  position: relative;
  color: #555;
}
.container .content h2 {
  height: 30px;
  line-height: 30px;
  padding: 30px 30px;
}
.container .content .summary {
  line-height: 26px;
  font-size: 1.4rem;
  padding: 0px 30px 30px 30px;
}
.container .content .submenu {
  height: 50px;
  background-color: #fafafa;
  bottom: 0;
  border-top: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  line-height: 50px;
  padding: 0 30px 0 30px;
  font-size: 0.9rem;
}
.container .content .submenu a {
  color: #555;
}
.container .content .submenu .submenu-time {
  float: left;
}
.container .content .submenu .submenu-hot {
  float: right;
  font-style: italic;
}
.container .article {
  color: #555;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  padding-bottom: 30px;
}
.container .article h2 {
  height: 30px;
  line-height: 30px;
  padding: 30px 30px 15px;
}
.container .article .submenu {
  color: #ddd;
  height: 50px;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  line-height: 50px;
  padding: 0 30px 0 30px;
  font-size: 0.9rem;
}
.container .article .submenu a {
  color: #ddd;
}
.container .article .submenu .submenu-time {
  float: left;
}
.container .article .summary {
  line-height: 26px;
  font-size: 1.4rem;
  height: auto;
  padding: 0px 30px 30px 30px;
}
.container .article .summary p {
  padding-top: 15px;
}
.container .article .share {
  padding: 15px 30px;
}
.container .article .comment {
  padding: 15px 30px;
  height: auto;
}
.container .article .comment .count-comment {
  line-height: 40px;
  font-size: 1.6rem;
}
.container .article .comment .comment-article {
  border-top: 1px solid #ddd;
  height: auto;
  padding: 10px 0;
}
.container .article .comment .comment-article .userphoto {
  width: 10%;
  text-align: center;
  padding-top: 8px;
}
.container .article .comment .comment-article .userphoto img {
  width: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.container .article .comment .comment-article .container-box .user-time {
  line-height: 30px;
  color: #ddd;
  padding-left: 10px;
}
.container .article .comment .comment-article .container-box .ly-content {
  padding: 10px 10px;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #258fb8;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
.footer {
  margin: 0 auto;
  color: #555;
  line-height: 30px;
}
.footer .flink {
  height: auto;
  padding: 0 10px;
}
.footer .copyright {
  height: 30px;
  padding: 0 10px;
}
.footer .copyright span {
  float: right;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #777;
  text-shadow: 0 1px #fff;
  background: #ddd;
  -webkit-box-shadow: 0 -1px 4px #ccc inset;
  box-shadow: 0 -1px 4px #ccc inset;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 3px;
}
.widget a {
  color: #258fb8;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
